*{
    font-family: 'Kanit', sans-serif;
}

body,.bg-sc{
    background: rgb(248, 248, 248);
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul li a{
    color:white;
    text-decoration: none;
    position: relative;
    padding: 10px 0;
    transition: 0.2s;
    display:flex;
    font-weight: 500;
    white-space: nowrap !important;
}

ul li a:hover{
    color: #20bda0 !important;
}
ul li a::before{
    content: "";
    position: absolute;
    height: 2px;
    top: 100%;
    width: 100%;
    background:#3bd8bb;
    transform-origin: bottom;
    transform: scaleX(0);
    transition: transform 0.2s;
    border-radius:2px;
}
ul li a:hover::before{
    transform: scaleX(1);
}
.navbar-nav {
    display: inline-flex;
    flex-direction: inherit;
}
ul li{
    padding: 0.2em 1em;
}
.navbar-light{
    background: #fff !important;
    padding: 0.5em 0em;
    position: fixed;
    width: 100%;
    box-shadow: 0px 1px 4px #e3dede;
    z-index: 100;
}
.cn{
    align-items: center;
}
.item-right{
    text-align-last: right;
}
.logo{
    width: 180px;
    height: 70px;
}

.text-right{
    text-align: right;
}
.menu-call .col-2,.menu-call .col-4{
    color: gray;
    font-weight: 200;
    font-size: small;
}
.menu-pr-2{padding-right: 2em;text-align: right;}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #3bd8bb;
}
.contents{
    padding: 1em;
    width: 100%;
    position: absolute;
    margin-top: 9em !important;
}
.menu-call{
    padding-bottom: 0.5em;
}
.vtcb{
    vertical-align: bottom !important;
}
@media (max-width: 1199px) {
    .menu-call{
        padding: 1em 0em;
    }
    .menu-call .col-xl-2,.menu-call .col-xl-4{
        text-align: center;
    }
    .menu-pr-2{
        text-align: center;
    }
    .menu-sub-top .col-xl-2,.menu-sub-top .col-xl-4{
        text-align: center;
    }
    .item-right{
        text-align-last: center;
    }
    .contents{
        margin-top: 15em !important;
    }
}
@media (max-width: 650px) {
.item-right{
    overflow-x: auto;
}
}
.table-responsive-xl th,.table-responsive-xl td{
    white-space: nowrap;
}
.card-vote{
    box-shadow: 0 0 1px rgb(197, 197, 197);
    border: none;
}
.text-dlc-header{
    color: #1e9b84;
    text-shadow: #1CCE97;
    border-bottom: 1px solid #3bd8bb;
    width: fit-content;
    margin: auto;
    padding: 0 2em;
}
.text-dlc::placeholder{
    color: #3bd8bb !important;
    text-shadow: #1CCE97;
}
.btn-dlc{background: #20bda0;color: #fff;text-shadow: #0f7a67;}
.btn-dlc:hover{background: #0f7a67;color: #fff;border-color: #0f7a67;}
.float-right{float: right;}
::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #20bda0;
}
::-webkit-scrollbar-thumb:hover {
    background: #0f7a67;
}
